body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.slim-main {
    background-color: #18230F;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    gap: 16px; 
}

.slim-left, .slim-content, .slim-right {
    height: 100vh;
}

.slim-container {
    height: 50vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.slim-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    font-weight: bold;
}

.slim-right {
    display: grid;
    grid-template-rows: 1fr 1fr
}

.deck {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.deck div{
    margin-top: 30px;
    position: absolute;
    width: 72px;
    height: 96px;
    background: url('./../assets/cartas.png') 0 -384px;
}

.slim-right div:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
}

.slim-button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.slim-button-row button {
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}

.slim-content {
    display: grid;
    grid-template-rows: 1fr 1fr
}

.player {
    display: flex;
    align-items: end;
    justify-content: center;
}

.crupier {
    display: flex;
    align-items: start;
    justify-content: center;  
}

.cards-display {
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #1F7D53;
    display: none;
    flex-direction: row;
}

.slim-info > span {
    font-weight: normal;
}

.game-card {
    width: 72px;
    height: 96px;
    margin: 5px;
}