.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: inherit;
    font-weight: bold;
    line-height: inherit;
    color: inherit;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    line-height: normal;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
    font-size: 1.8vh;
}

a {
    font-size: 1.8vh;
    text-decoration: none;
}

footer {
    height: 20vh;
    background-color: #AAB396;
    display: flex;
    flex-direction: row;
}

.slim-hamburger-container {
    display: none;
}

.slim-header-main {
    position: relative;
    overflow: hidden;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.slim-header-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/manos_al_barro.jpg); 
    background-size: cover;
    background-position: center top;
    filter: blur(1.5px); 
    opacity: 0.8;
    z-index: -1;
}

.slim-img-wrapper.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

.slim-img-wrapper.home img {
    width: 100px;
    height: 100%; 
    object-fit: cover; 
    cursor: pointer;
    transition: transform 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
}

.slim-img-wrapper.home img:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px #FFF8E8;
}

.slim-header-nav {
    display: flex;
    height: 10%;
    width: 100%;
}

.slim-nav-items {
    display: flex;
    width: 100%;
    margin-left: 50%;
    justify-content: space-between;  
    align-items: center;  
}

.slim-nav-item {
    color: #FFF8E8;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: color 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}

.slim-nav-item:nth-child(4) {
    color: #674636;
    background-color: #FFF8E8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-shadow: none;
    border-radius: 60px;
    margin-right: 5%;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: color 0.1s; 
}

.slim-nav-item:hover {
    color: #AAB396;
    text-shadow: 2px 2px 20px #FFF8E8;
}

.slim-nav-item:nth-child(4):hover {
    color: #FFF8E8;
    text-shadow: none;
    background-color: #674636;
}

.slim-header-home {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.slim-header-home .slim-title h1 {
    font-size: 16vh;
    color: #FFF8E8;
    -webkit-text-stroke: 1px #674636; 
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.slim-header-home .slim-title .switch h1 {
    color: #674636;
    -webkit-text-stroke: 1px #FFF8E8; 
}

.slim-title {
    padding-top: 2vh;
}

.slim-header-home .slim-title {
    display: flex;
    justify-content: space-between;
    padding: 15vh;
}

.slim-title-items {
    display: flex;
    justify-content: space-between;
    width: 58%;
}

.slim-subtitle {
    display: flex;
    justify-content: end;
    padding: 5vh;
    margin-right: 6%;
}

.slim-subtitle h2 {
    font-size: 4.5vh;
    color: #FFF8E8;
    -webkit-text-stroke: 1px #674636; 
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.slim-section {
    height: 60vh;
}

.slim-section .slim-title {
    display: flex;
    height: 20%;
    align-items: center;
}

.slim-section.who-we-are {
    background-color: #FFF8E8;
    display: flex;
    flex-direction: column;
}

.slim-section.slim-form {
    height: auto;
    background-color: #FFF8E8;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
}

.slim-form-container {
    width: 95%;
    margin-left: 2%;
    margin-right: 2.5%;
}

.who-we-are .slim-section-p {
    width: 80%;
}

.slim-section .slim-title h1 {
    font-size: 7vh;
    margin-left: 2%;
    color: #674636;
    -webkit-text-stroke: 1px #FFF8E8; 
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.slim-section-content.slim-row {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.slim-section-p {
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-top: 0;
}

.slim-section-p p {
    color: #674636;
    margin-top: 2%;
}

.slim-section-content .slim-img-wrapper {
    display: flex;
    width: 20%;
    height: 80%;
    padding: 2%;
    padding-top: 0;
    align-items: center;
    box-sizing: unset;
}

.who-we-are .slim-img-wrapper img {
    width: 300px;
    height: 100%;
    object-fit: cover; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.slim-section.workshop {
    display: flex;
    flex-direction: row;
    position: relative;
    background-image: url(../assets/hola-ceramica3-1024x683.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.slim-section.workshop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 70, 54, 0.6); 
    background-image: inherit; 
    background-size: inherit;
    background-position: inherit;
    filter: blur(10px); 
    z-index: 1; 
}

.slim-section.workshop::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 70, 54, 0.6); 
    z-index: 2;
}

.slim-section.workshop > * {
    position: relative;
    z-index: 3;
}

.slim-section.workshop .slim-img-wrapper {
    display: flex;
    align-items: center;
    width: 35%;
    padding: 3%;
}

.workshop .slim-img-wrapper img{
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.slim-section-content.slim-col {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.workshop p {
    color: #FFF8E8;
}

.slim-section.workshop .slim-title h1 {
    color: #FFF8E8;
    -webkit-text-stroke: 1px #674636;;
}

.workshop .slim-title {
    display: flex;
    align-items: center;
    height: 25%;
}

.workshop .slim-section-p {
    height: 50%;
}

.workshop .slim-section-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
}

.slim-action-button {
    color: #674636;
    background-color: #FFF8E8;
    border-radius: 60px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: color 0.1s; 
}

.slim-action-button:hover {
    color: #FFF8E8;
    background-color: #674636;
}

.slim-section.collection {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.slim-section.collection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/dem.jpg); 
    background-size: cover;
    background-position: center bottom;
    filter: blur(15px); 
    opacity: 0.8;
    z-index: -1;
}

.collection .slim-title{
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
}

.collection .slim-section-p {
    height: 55%;
}

.collection p {
    color: #FFF8E8;
    text-align: center;
}

.collection .slim-section-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.collection .slim-action-button {
    color: #FFF8E8;
    background-color: #674636;
}

.collection .slim-action-button:hover {
    color: #674636;
    background-color: #FFF8E8;
}

.slim-footer-section-wrapper {
    display: flex;
    flex-direction: row;
    flex: 2;
}

.slim-footer-section {
    display: flex;
    flex: 1;
}

.slim-footer-section:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slim-footer-section p {
    color: #674636;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 2%;
}

.slim-footer-section p:nth-child(1) {
    color: #FFF8E8;
}

.slim-footer-section.slim-section-button {
    display: flex;
    align-items: center;
    justify-content: end;
}

.slim-footer-section .slim-action-button {
    color: #FFF8E8;
    background-color: #674636;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5%;
}

.slim-footer-section .slim-action-button:hover {
    color: #674636;
    background-color: #FFF8E8;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media .slim-icon-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slim-icon-row i {
    font-size: 3vh;
    color: #674636;
    margin: 10px;
    transition: color 0.3s ease;
}

.slim-icon-row i:hover {
    color: #FFF8E8;
}

/* ESTILOS ESPECIFICOS DE VISTA DE TALLERES */

.workshop-view .slim-header-main {
    height: 100vh;
}

.workshop-view .slim-header-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/barro.jpg); 
    background-size: cover;
    background-position: center top;
    filter: blur(1.5px); 
    opacity: 0.8;
    z-index: -1;
}

.workshop-view .workshop {
    height: 100vh;
    flex-direction: column;
}

.workshop-view .slim-header-main .slim-title {
    flex-direction: column;
}

.workshop-view .slim-header-main .slim-title h1 {
    font-size: 8vh;
}

.workshop-view .workshop .slim-title {
    width: 100%;
    height: 20%;
}

.slim-grid {
    padding: 5vh;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    overflow: hidden; 
}

.workshop-item {
    box-sizing: unset;
}

.workshop-item p {
    color: #674636;
}

.workshop-item h3 {
    padding: 0;
    margin: 0;
    color: #674636;
    font-size: 2.5vh;
}

.workshop-item {
    background: #FFF8E8;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.workshop-item .item-title {
    display: flex;
    align-items: center;
    height: 30%;
}

.workshop-item .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

.workshop-item .item-action {
    height: 20%;
}

.slim-side-menu {
    display: none; 
    position: fixed;
    top: 0;
    right: 0;
    min-width: 350px;
    height: 100vh;
    background-color: #AAB396;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.slim-side-menu.active {
    display: block;
    transform: translateX(0);
}

.slim-flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.slim-flex-col > .slim-nav-item {
    padding: 30px;
    color: #674636;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: color 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}

.slim-flex-col > .slim-nav-item:hover {
    color: #FFF8E8;;
}

.slim-flex-col > .slim-nav-item:nth-child(4) {
    margin-right: 0;
    margin-top: 10px;
    padding: 15px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #674636;
    cursor: pointer;
}

.slim-section.slim-carousel {
    background-color: #FFF8E8;
    height: auto;
}

#carousel {
    padding-top: 2vh;
    height: 400px;
}

.carousel-inner {
    height: 100%;
}

.slim-section.video {
    height: fit-content;
}

/* Media queries */
@media (max-width: 1650px) {
    .workshop .slim-img-wrapper img {
        width: 500px;
    }
}

@media (max-width: 1480px) {

    .workshop-view .slim-header-main  .slim-title h1 {
        font-size: 6vh;
    }

    .slim-header-home .slim-title {
        flex-direction: column;
    }

    .slim-title-items {
        width: 80%;
        justify-content: flex-start;
    }

    .slim-title-items .slim-title-item:nth-child(2){
        margin-left: 5%;
    }

    .switch {
        display: flex;
        width: 100%;
        justify-content: end;
    }

    .slim-header-home .slim-subtitle {
        padding-top: 0;
    }

    .who-we-are .slim-img-wrapper img {
        width: 250px;
        height: 80%;
    }
}

@media (max-width: 1380px) {
    .workshop .slim-img-wrapper img {
        width: 400px;
    }
}

@media (max-width: 1300px) {
    p {
        font-size: 1.6vh;
    }
}

@media (max-width: 1200px) {
    .who-we-are .slim-img-wrapper img {
        width: 200px;
        height: 70%;
    }
}

@media (max-width: 1120px) {
    .slim-section .slim-title h1 {
        font-size: 6.5vh;
    }

    .slim-subtitle h2 {
        font-size: 3.5vh;
    }

    p {
        font-size: 1.4vh;
    }

    .workshop .slim-img-wrapper img {
        width: 300px;
    }

    .who-we-are .slim-img-wrapper img {
        width: 150px;
        height: 50%;
    }
}

@media (max-width: 940px) {

    .workshop-view .slim-header-home .slim-title h1 {
        font-size: 4vh;
    }

    .workshop-view .slim-header-home .slim-title {
        padding-left: 5vh;
        padding-right: 5vh;
    }

    .slim-subtitle h2 {
        font-size: 3vh;
    }

    .slim-header-home .slim-title h1{
        font-size: 15vh;
    }

    .slim-nav-items {
        display: none;
    }

    .slim-header-nav {
        justify-content: space-between;
    }

    .slim-hamburger-container {
        display: flex;
        width: 60px
    }

    .slim-navbar-toggler {
        background: none;
        border: none;
        font-size: 3rem; 
        cursor: pointer;
    }
    
    .slim-navbar-toggler i {
        color: #FFF8E8; 
    }

    .workshop-view .slim-section.workshop {
        flex-direction: column;
    }

    .workshop-view .slim-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .workshop-view .slim-grid .workshop-item:nth-child(3) {
        display: none;
    } 

    .slim-section.workshop {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        height: 100vh;
    }
    
    .slim-section-content.slim-col {
        width: 100%;
        height: 100%;
    }

    .slim-section-content.slim-col .slim-title {
        justify-content: center;
    }

    .slim-section.workshop .slim-img-wrapper {
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .slim-section.collection .slim-title h1 {
        font-size: 5vh;
        text-align: center;
        -webkit-text-stroke: 0.5px #FFF8E8; 
    }
}

@media (max-width: 800px) {

    .workshop-view .slim-header-home .slim-title h1 {
        font-size: 4vh;
        -webkit-text-stroke: 0.2px #FFF8E8; 
    } 

    .slim-section.who-we-are .slim-title {
        height: 20%;
    }

    .slim-section-content.slim-row {
        height: 80%;
    }

    .slim-subtitle h2 {
        font-size: 3vh;
    }

    .who-we-are .slim-img-wrapper img {
        width: 120px;
        height: 30%;
    }
}

@media (max-width: 750px) {
    .slim-header-home .slim-title h1{
        font-size: 12vh;
    }

    .slim-subtitle h2 {
        font-size: 2.5vh;
        -webkit-text-stroke: 0.5px #674636; 
    }

    footer {
        height: 30vh;
        flex-direction: column;
    }

    footer .slim-footer-section:nth-child(1) {
        height: 70%;
        flex: none;
    }

    .slim-footer-section-wrapper {
        height: 30%;
        flex: none;
    }

    .social-media {
        align-items: start;
    }
}

@media (max-width: 660px) {
    .slim-section.who-we-are {
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .who-we-are .slim-section-content.slim-row {
        width: 100%;
        flex-direction: column;
    }

    .who-we-are .slim-title {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .who-we-are .slim-section-p {
        width: 95%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .who-we-are .slim-img-wrapper {
        width: 100%;
        justify-content: center;
        padding: 0;
    }

    .slim-header-home .slim-title h1{
        font-size: 8vh;
    }

    .slim-subtitle h2 {
        font-size: 2vh;
        -webkit-text-stroke: 0.3px #674636; 
    }

    .slim-section.workshop .slim-title {
        height: 25%;
    }

    .slim-section.workshop .slim-section-p {
        height: 70%;
    }

    .slim-section.workshop .slim-section-button {
        height: 15%;
    }

    .workshop-view .slim-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .workshop-view .slim-grid .workshop-item:nth-child(2) {
        display: none;
    } 
}

@media (max-width: 530px) {
    .slim-header-home .slim-title {
        padding: 0;
        padding-top: 20vh;
    }

    .slim-title-items {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .switch {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .slim-header-home .slim-subtitle {
        padding-top: 20vh;
        text-align: center;
    }

    .slim-section.collection .slim-title h1 {
        font-size: 3.5vh;
        -webkit-text-stroke: 0.3px #FFF8E8; 
    }

    .slim-section.workshop .slim-title h1 {
        font-size: 3.5vh;
    }

    .slim-section.workshop .slim-title {
        height: 15%;
    }

    .who-we-are .slim-title h1 {
        font-size: 5vh;
        text-align: center;
    }
}

@media (max-width: 420px) {
    p {
        font-size: 1.4vh;
    }

    .slim-section.workshop .slim-img-wrapper img {
        width: 200px;
    }
}


@media (max-width: 355px) {
    .slim-section.workshop .slim-img-wrapper {
        display: none;
    }

    .who-we-are .slim-title h1 {
        font-size: 3.5vh;
        text-align: center;
        -webkit-text-stroke: 0.1px #FFF8E8; 
    }

    .slim-section.who-we-are .slim-img-wrapper {
        display: none;
    }

    footer .slim-footer-section:nth-child(1) {
        height: 50%;
    }

    .slim-footer-section-wrapper {
        flex-direction: column;
        height: 50%;
    }

    .slim-footer-section-wrapper .slim-footer-section {
        align-items: center;
        justify-content: center;
    }
}